@import "null.scss";


@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoeui.eot');
	src: local('☺'), url('../fonts/segoeui.woff') format('woff'), url('../fonts/segoeui.ttf') format('truetype'), url('../fonts/segoeui.svg') format('svg');
	font-weight: normal;
	font-style: normal;
    
    
}
//шаблоны
%brd{
    border: 1px solid #000;
} //граница @extend %brd;ы
@mixin sz($w,$h){
    width: $w;
    height: $h;
} //ширина и высота @include sz(,);

.leo {
    position: relative;
    .head {
        @include sz(100%,768px);
        background: url(../imj/CompositeLayer@background.png) 0 0/cover no-repeat;
        position: relative;
    }
    .head__title {
       font-family: Mplus 1p;
       font-size: 83px;
       font-style: normal;
       font-weight: 400;
       line-height: 33px;
       letter-spacing: 0px;
       text-align: left;
       padding: 56px 0 0 17%;
       color: #fff;
       display: inline-block;
    }
    .head__menu {
        @include sz(auto,auto);
        display: inline-block;
        margin: 20px 0 0 18%;
        font-family: Segoe UI;
        font-size: 23px;
        font-weight: 300;
        line-height: 35px;
    
    a{
        color: aliceblue;
        font-family: Segoe UI;
        font-size: 23px;
        font-weight: 300;
        margin: 0 0 0 90px;
        
         &:hover{border-bottom: 3px solid aliceblue;
        }
        
    }
        }
    
    
    .head__button {
        display: inline-block;
        @include sz(100%,50px);
        margin: 198px 0 0 0;
        white-space: nowrap; 
         
      button{
        @include sz(50px,50px);
        border-radius: 25px;
              &:hover{
           @include sz(48px,48px);
           border-radius: 24px;  
        }
          
         }
        
    .head__button_left {
        background: url(../imj/CompositeLayer@button_left.png) 0 0/50px no-repeat;
         margin: 0 0 0 10%; 
        
            }
        
    .head__button_raight { 
        background: url(../imj/CompositeLayer@button_raght.png) 0 0/50px no-repeat;
        margin: 0 0 0 70%;
         }
         }
    
    
    
    .head__imeig {
        position: absolute;
        bottom: 240px;
        left: 19%;
        z-index: 1;
        @include sz(329px, 329px);
        background: url(../imj/CompositeLayer@coffe.png) 0 0/auto auto no-repeat;
        border-radius: 52px;
    }
    .head__sudtitle {
        @include sz(337px,178px);
        position: absolute;
        top: 254px;
        left: 47%;
         z-index: 2;
        color: aliceblue;
        }
    .head__text{
        display: block;
        font-family: Segoe UI;
        font-size: 44px;
        font-style: normal;
        font-weight: 300;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
    }
    .head__text:first-line{
        font-family: Segoe UI;
        font-size: 65px;
        font-style: normal;
        font-weight: 600;
        line-height: 86px;
        letter-spacing: 0px;
        text-align: left;
    }
    .head__demo {
        display: block;
        @include sz(140px,40px);
        border-radius: 4px;
        background: #2C7652;    
        line-height: 35px;
        text-indent: 20px;
        color: aliceblue;
        font-family: Segoe UI;
        font-size: 23px;
        font-weight: 300;
        margin: 30px 0 0 0 ;
        &:hover{
             background: #2b4f3e;
            font-size: 21px;
            @include sz(137px,37px);
            color: #bac3cc;
            line-height: 39px;
        }
    }
    .body {
        position: relative;
        @include sz(100%,1735px);
        position: absolute;
        top: 488px;
        left: 0px;
        background: #fff;
    }
    .body__menu {
      .body__head{  
           .body__icon_responsive {
               position: absolute;
               top: 93px;
               left: 14%;
            background: url(../imj/CompositeLayer@responsive.png) 17px 3px/136px 155px no-repeat; 
        }
           .body__title_responsive {
             position: absolute;
               top: 253px;
               left: 14%;  
          }
           .body__icon_comerce {
                position: absolute;
               top: 93px;
               left: 35%;
         background: url(../imj/CompositeLayer@comersy.png) 17px 3px/136px 155px no-repeat;   
        }
           .body__title_comerce {
             position: absolute;
               top: 253px;
               left: 35%;
        }
           .body__icon_daily {
                position: absolute;
               top: 93px;
               left: 55%;
         background: url(../imj/CompositeLayer@Daily_blog.png) 17px 3px/136px 155px no-repeat;    
        }
           .body__title_daily {
             position: absolute;
               top: 253px;
               left: 55%;
        }
           .body__icon_search {
                position: absolute;
               top: 93px;
               left: 75%;
               background: url(../imj/CompositeLayer@Search.png) 17px 3px/136px 155px no-repeat;
               
        }
           .body__title_search {
                position: absolute;
               top: 253px;
               left: 75%;
               
        }
          
          div{
            font-family: Segoe UI;
            font-size: 23px;
            font-weight: 300;
            line-height: 30px;
            letter-spacing: 0px;
            @include sz(175px,47px);
            text-align: center;
            
            
          }
          button{
              @include sz(176px,250px);
              &:hover{
                background-size: 133px 152px;  
              }
              
          }
        } 
        .body__box{
             position: absolute;
             top:250px ;
             left: 25%;
             z-index: 0;
             @include sz(897px,658px);
             
        }
 
         .body__imeig {
             @include sz(667px,307px);
            position: absolute;
            top: 40px;
            left: 115px;
        }
         
        
       .body__responsive {
           position: absolute;
           top: 93px;
           left: 25%;
           z-index: 1;
             .body__box{
                 background: #6598E6;
                   .body__imeig {
                       background:url(../imj/ipad@1X.png) 0 0/667px,312px no-repeat;
           }
                   .body__subtitle {
                       margin: 374px 0 0 ;
                       font-family: Segoe UI;
                       font-size: 39px;
                       font-style: normal;
                       font-weight: 300;
                       line-height: 51px;
                       letter-spacing: 0px;
                       text-align: center;

                 }
                   .body__text {
                       font-family: 'Puppies Play';
                       font-size: 14px;
                       font-style: normal;
                       font-weight: 400;
                       line-height: 24px;
                       letter-spacing: 0px;
                       text-align: left; 
                       margin: 52px 10px  0;
        }
     }  
    }
       .body__comerce {
             position: absolute;
           top: 93px;
           left: 25%;
           z-index: 0;
       .body__box{
            background: #6598E6;
        .body__imeig {
            
           background:url(../imj/poppi.jpg) 0 0/667px,312px no-repeat; 
        }
        .body__subtitle {
            
        }
        .body__text {
            
        }
           }
    }
       .body__daily {
             position: absolute;
           top: 93px;
           left: 25%;
           z-index: 0;
       .body__box{
            background: #6598E6;
        .body__imeig {
          background:url(../imj/poiskovic.png) 0 0/667px,312px no-repeat;  
        }
        .body__subtitle {
            
        }
        .body__text {
            
        }
           }
    }
       .body__search {
             position: absolute;
           top: 93px;
           left: 25%;
           z-index: 0;
           .body__box{
            background: #6598E6;   
        .body__imeig {
            background:url(../imj/search-engines.png) 0 0/667px,312px no-repeat;    
        }
        .body__subtitle {
            
        }
        .body__text {
            
            
        }
           }
    }
        
    }
    .body__scrinshot_left {
         @include sz(37%,338px);
        max-width: 486px;
        background: url(../imj/CompositeLayer@scrinshot.png) 0 0/100% 100% no-repeat;
        position: absolute;
        top: 1116px;
        left: 10%;
         box-shadow: 3px 3px 3px 3px #e0d9ce;
    }
    .body__scrinshot_raight {
        @include sz(44%,auto);
        max-width: 574px;
        position: absolute;
        bottom:280px ;
        left: 51%;
        box-shadow: 3px 3px 3px 3px #e0d9ce;
    }
    .body__slogan {
        font-family: Segoe UI;
        font-size: 33px;
        font-style: normal;
        font-weight: 300;
        line-height: 43px;
        letter-spacing: 0px;
        text-align: left;

    }
    .body__list {
        font-family: Utsaah;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: left;

    }
      li {
        padding: 0 0 0 25px;
        background: url(../imj/Shape%2015@1X.png) 0 8px/auto no-repeat;
    }
    .body__holder {
        @include sz(100%,133px);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .body__box_left {
         border-radius: 5px;
        @include sz(34%,133px);
        max-width: 470px;
        position: absolute;
        background: #E67624;
        bottom: 40px;
        left: 10%;
        .body__title {
            font-family: Segoe UI;
            font-size: 28px;
            font-style: normal;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: left;
            color: aliceblue;
            padding: 25px 0 0 5%;

        }
    }
    .body__input_name {
        position: absolute;
        bottom: 20px;
        left: 5%;
        @include sz(30%,30px);
        text-indent: 15px;
        &:focus{
          box-shadow: inset 0 0 10px #000;
        }
    }
    .body__input_password {
         position: absolute;
        bottom: 20px;
        left: 38%;
        @include sz(30%,30px);
        text-indent: 15px;
        &:focus{
          box-shadow: inset 0 0 10px #000;
        }
    }
    .body__log {
         position: absolute;
        bottom: 20px;
        left: 72%;
        @include sz(80px,30px);
        background: #444444;
        color: aliceblue;
         &:hover{
            @include sz(77px,27px);
        }
    }
    .body__box_raight {
         border-radius: 5px;
         background: #01D4F3;
         @include sz(34%,133px);
         max-width: 470px;
         position: absolute;
         bottom: 40px;
         left: 51%;
        .body__title {
            font-family: Segoe UI;
            font-size: 28px;
            font-style: normal;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 0px;
            text-align: left;
            color: aliceblue;
            padding: 25px 0 0 5%;
            
        }
    }
    .body__emeil {
        position: absolute;
        bottom: 20px;
        left: 5%;
        @include sz(50%,30px);
        text-indent: 15px;
        &:focus{
          box-shadow: inset 0 0 10px #000;
        }
    }
    .body__button_submit {
         position: absolute;
         bottom: 20px;
         left: 72%;
         @include sz(80px,30px);
         background: #029BB1;
         color: aliceblue;
        &:hover{
            @include sz(77px,27px);
        }
    }
    .footer {
        @include sz(100%,243px);
        position: absolute;
        top: 2223px;
        left: 0;
        background: #29252A;
        color: aliceblue;
        a{
             color: aliceblue;
            position: absolute;
            top: 170px;
            left: 75%;
            &:hover{
                font-size: 16px;
                color: coral;
            }
        }
    }
    .footer__about {
        @include sz(103px,155px);
        display: inline-block;
        margin: 0px 0 0 10%;
        
        .footer__header {
            font-family: Segoe UI;
            font-size: 22px;
            font-style: normal;
            font-weight: 300;
            line-height: 33px;
            letter-spacing: 0px;
            text-align: left;

        }
        .footer__body_text {
            font-family: Arial;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;
        }
    }
    .footer__about_too {
        display: inline-block;
         margin: 40px 0 0 10%;
        @include sz(103px,155px);
        .footer__header {
            font-family: Segoe UI;
            font-size: 22px;
            font-style: normal;
            font-weight: 300;
            line-height: 33px;
            letter-spacing: 0px;
            text-align: left;

        }
        .footer__body_text {
            font-family: Arial;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;

        }
    }
    .footer__testimoanials {
        display: inline-block;
        @include sz(455px,155px);
        position: absolute;
        top: 40px;
        left: 45%;
        
        .footer__header {
        font-family: Segoe UI;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: left;
        }
    }
      button {
        @include sz(16px,16px);
        border-radius: 8px;
    }
    .footer__button_left {
        position: absolute;
        top: 15px;
        left: 190px;
        background:url(../imj/Layer%20left.png) 0 0/100% no-repeat;
        &:hover{
              @include sz(20px,20px);
        }
    }
    .footer__button_raight {
         position: absolute;
        top: 15px;
        left: 230px;
        background: url(../imj/Layer%20@raigh.png) 0 0/100% no-repeat;
        &:hover{
              @include sz(20px,20px);
        }
        
    }
    .footer__text {
        font-family: Arial;
      font-size: 13px;
     font-style: normal;
     font-weight: 700;
     line-height: 22px;
     letter-spacing: 0px;
     text-align: left;

        
    }
    .footer__text_fat {
        font-family: Arial;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;

    }
    .footer__logotype_leo {
          @include sz(222px, 75px,);
        background: url(../imj/Leo_-%20copy@1X.png) 0 0/100% no-repeat;
        position: absolute;
        top: 66px;
        left: 75%;
         
    }
    
}